// Sass partial

.header {

    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.heading-primary--sub {
    font-family: $form-font;
}