// Sass partial

input {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 2px;
    font-family: $form-font;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    text-align: start;
    width: 50%;

    &:active,
    &:focus {
        outline-color: #fff3e0;
    }
}